numpy>=1.13.3
colorlog~=4.7.2
websockets==8.1
requests==2.24.0
PyYAML~=5.4.1
setuptools~=54.2.0
fastapi~=0.63.0
starlette~=0.13.6
pydantic~=1.8.1
retrying~=1.3.3
joblib~=1.0.1
pandas~=1.1.5
six~=1.15.0
git+https://github.com/joeyhwong-gk/uvicorn
